PORT=5000
NODE_ENV=development
FIREBASE_PROJECT_ID=sarhad-electronics-97abe
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json


CLOUDINARY_CLOUD_NAME="be8tdpje"
CLOUDINARY_API_KEY="392857379718161"
CLOUDINARY_API_SECRET="wdfxdFBVrCLGw8lCclGwdRt9rSg"

FRONTEND_URL="http://localhost:5173"
ADMIN_URL="http://localhost:5174"

